[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cycleTrendR"]
	path = cycleTrendR
	url = https://github.com/pietropiu-labstats/cycletrendr
[submodule "rareflow"]
	path = rareflow
	url = https://github.com/pietropiu-labstats/rareflow
